$gray-700: rgb(68, 68, 68);
$body-bg: #444;
$body-color: #fff;
$primary: #800032;
$secondary: #666;
$green: rgb(0, 116, 0);
$cyan: #336666;
$link-color: lighten(theme-color("primary"), 15%);
$dropdown-bg: $secondary;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: darken($dropdown-bg, 5%);
$gray-800: #313131;
$text-muted: $gray-500;
$blockquote-small-color: $gray-500;
$table-bg-level: 0;
$table-border-level: $table-bg-level;
$card-bg: $body-bg;
$input-bg: $body-bg;
$input-color: $body-color;
$input-disabled-bg: $input-bg;
$input-group-addon-bg: $input-bg;
$nav-tabs-link-active-color: $link-color;
$nav-tabs-link-active-border-color: $primary $primary $nav-tabs-link-active-bg;
$input-placeholder-color: $primary;
$border-color: $primary;
$hr-border-color: $border-color;
$table-border-color: rgba($black, .125);
$popover-border-color: $border-color;
$nav-tabs-border-color: $border-color;
$input-border-color: $border-color;
$pagination-border-color: $border-color;
$list-group-border-color: rgba($black, .15);
$breadcrumb-bg: $body-bg;
$breadcrumb-divider-color: $body-color;
$breadcrumb-active-color: $body-color;
$breadcrumb-divider: quote("�");
$pagination-bg: $body-bg;
$pagination-hover-bg: darken($dropdown-bg, 5%);
$pagination-hover-color: $input-focus-border-color;
$pagination-hover-border-color: $input-focus-border-color;
$pagination-disabled-color: $link-color;
$pagination-disabled-bg: $body-bg;
$pagination-disabled-border-color: $border-color;
$alert-bg-level: 0;
$alert-border-level: 0;
$alert-color-level: 10;
$close-text-shadow: 0 0 0 $black;
$close-font-weight: $font-weight-bolder;
$jumbotron-bg: darken($body-bg, 3%);
$list-group-bg: $body-bg;
$list-group-color: $body-color;
$list-group-action-active-bg: $list-group-active-bg;
$list-group-hover-bg: darken($dropdown-bg, 15%);
$list-group-action-color: $input-focus-border-color;
$modal-content-bg: $body-bg;
$modal-header-border-color: rgba($black, .2);